.banner {
    background-color: rgb(70, 70, 70);
    color: rgb(200, 200, 200);
    padding: 4rem;
    padding-bottom: 2.5rem;
    text-align: center;
    margin-top: -100px;
    margin-bottom: -50px;
}

.header h1 {
    font-size: 50px;
    margin-bottom: 25px;
}